@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Post>

<div class="jumbotron jumbotron-fluid bg-secondary text-white rounded">
    <div class="container">
        <h1 class="display-4">Merhaba</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
           @await Component.InvokeAsync("CategoryMenu")
        </div>
        <div class="col-md-9">
            @foreach (var item in Model)
            {
                <div class="card mt-2">
                <div class="card-header">
                    @item.Title
                </div>
                <img src="~/img/@item.ImagePath" class="card-img-top" alt="card image cap" >

                <div class="card-body">
                    <h5 class="card-title">@item.Description</h5>
                    
                    <a href="https://localhost:7004/home/details/@item.Id" class="btn btn-primary">Tümünü Oku</a>
                </div>
            </div>
           }
            
        </div>
    </div>
</div>

